@page "/ERPchemical"

<PageTitle>ERP Chemical</PageTitle>

<div class="cabecera" style="background: url('/Images/scchem.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/schem.png" alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem;"><h1>ERP Chemical</h1></div>
     </div>
   
</div>
<div id="titleInterior" class="contentInterior">
  
    <h2>Con <strong>ERP Chemical</strong>, la empresa no solo logra una producción más eficiente, sino también el cumplimiento normativo y una optimización de recursos.</h2>
  
</div>
<div  class="row contentInterior mb-5">

    <div class="col-6" style="padding-right: 2rem;">
            <p>
                Optimiza la producción y distribución con el <strong>ERP Chemical</strong>. En el sector de la <strong>industria química</strong>, la precisión y el cumplimiento normativo son clave. Los procesos suelen implicar la mezcla, el calentamiento, enfriamiento,
                separación o reacción de materias primas, y el control es complejo debido a las características de los materiales, sustancias peligrosas y sus estrictas regulaciones. Ha <strong>diseñado para gestionar los procesos complejos</strong> de la industria,
                asegurando una <strong>producción eficaz, segura</strong> y conforme a las regulaciones del sector.
            </p>
        </div>
        <div class="col-6">
            <ul class="listaItems">
                <li><strong>Gestión de fórmulas y recetas:</strong> Controla la composición de los productos con precisión, asegurando consistencia y calidad.</li>
                <li><strong>Cumple la normativa y seguridad:</strong> Se integra automáticamente con las normativas locales e internacionales (REACH, CLP, otras) en las operaciones, minimizando riesgos y garantizando la seguridad en el manejo de materiales peligrosos.</li>
                <li><strong>Trazabilidad completa:</strong> Rastrea cada lote de materias primas y productos acabados desde la recepción hasta la entrega, para cumplir con las auditorias y regulaciones.</li>
                <li><strong>Optimiza la cadena de suministro:</strong> Planifica y gestiona las compras, inventarios y producciones para reducir costos y evitar interrupciones en la cadena de suministro.</li>
                <li><strong>Riguroso control de calidad:</strong> Permite implementar controles automáticos en cada etapa del proceso, para asegurar que cada lote cumpla con los más altos estándares.</li>
            </ul>
            <div class="btnDiv">
            <a class="btnBlue" href="/contacto">Solicita una Demo Personalizada </a>
            </div>
          
        </div>
   
   

</div>
@* 
<style>

    .icono {
        transform: none !important; /* Desactiva cualquier transformación en este div */
    }
    .contentInterior{
        display: flex;
        justify-content: center; 
        width: 100%; 
        max-width: 1166px; 
        margin: 0 auto; 
        text-align: justify;
    
    }
    .btnDiv{
        padding: 2rem;
        justify-content: center;
        display: flex;
    }
  

    .cabecera{
        background: url("/Images/scchem.jpg");
        height: 233px;
        width:1300px;
        align-content: center;
    }
    .contentInterior h1{
        font-size:36px;
        color: #494949;
    }

    .contentInterior h2 {
        font-size: 30px;
        color: #3789b3;
    }

    .contentInterior p, .listaItems li {
        font-size: 18px;
        color: #494949;
    }
    .listaItems{
        margin-top: 1rem !important
    }
   
    #titleInterior{
        padding: 2rem 0.5rem;
    }
  
</style> *@