@page "/ERPindustrial"


<PageTitle>ERP industrial</PageTitle>

<div class="cabecera" style="background: url('/Images/scindis.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/sindu.png" alt="Alternate Text" /></div>
        <div class="col-6 " style="margin-left: 1.5rem;"><h1>ERP Industrial + Distribución</h1></div>
    </div>

</div>
<div id="titleInterior" class="contentInterior">

    <h2> Ideal para las empresas de la <strong>industria discreta</strong> y para las <strong>distribuidoras.</strong></h2>

</div>
<div class="row contentInterior mb-5">

    <div class="col-6" style="padding-right: 2rem;">
        <p>
            Ha sido diseñado para <strong>gestionar</strong> tanto las  <strong>operaciones de producción</strong> como <strong>la distribución de los productos</strong>.  Mejora la  <strong>eficiencia operativa</strong>, la toma de decisiones y <strong>reduce costos</strong>, toda la información actualizada en tiempo real, entre otras.
            <br /> <br />  <strong>Enlaza funcionalidades</strong> para la planificación de la  <strong>producción</strong>, la gestión de los  <strong>inventarios</strong> optimizando la  <strong>cadena de suministro</strong>, garantizando que los productos que se fabriquen lleguen a los clientes en el momento adecuado.

        </p>
        
      
    </div>
    <div class="col-6">

        <p>Algunas características generales:</p>
        <ul class="listaItems">
            <li><strong>Permite planificar y gestionar </strong> todo el ciclo de producción, desde las órdenes de trabajo hasta la asignación de recursos y la programación de la planta.</li>
            <li><strong>Control de inventarios a nivel de producto terminado</strong> semielaborado y materias primas en tiempo real.</li>
            <li><strong>Gestión de la cadena de suministro</strong> desde la compra hasta la entrega final al cliente, mejorando la eficiencia y reduciendo costos.</li>
            <li><strong>Controles de calidad </strong> en diferentes etapas del proceso.</li>
            <li><strong>Trazabilidad total y completa </strong> desde la materia prima hasta el producto terminado, permitiendo un seguimiento en caso de devolución o problema de calidad.</li>
            <li><strong>Gestión de ventas y distribución</strong> automatiza la gestión de pedidos de clientes, el control de entregas y el seguimiento del inventario, mejorando la distribución de los productos.</li>

        </ul>
        <div class="btnDiv">
            <a class="btnBlue" href="/contacto">Solicita una Demo Personalizada </a>
        </div>

    </div>



</div>