@page "/ERPsga"


<PageTitle>ERP SGA</PageTitle>

<div class="cabecera" style="background: url('/Images/sclogist.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/slogis.png " alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem;"><h1>ERP SGA Logística</h1></div>
    </div>

</div>
<div id="titleInterior" class="contentInterior">

    <h2>Diseñado para <strong>optimizar y controlar</strong> las operaciones de los almacenes o centros de distribución. </h2>

</div>
<div class="row contentInterior mb-5">

    <div class="col-6" style="padding-right: 2rem;">
        <p>
            Siendo el objetivo el de mejorar la <strong>eficacia</strong> en las <strong>gestiones</strong> de los inventarios, la <strong>distribución</strong> de productos y todas las <strong>operaciones generales</strong> del almacén. Como:
        </p>
        <ul class="listaItems">
            <li><strong>Stocks en tiempo real</strong> conocer la cantidad de productos disponibles, su ubicación el estado.</li>
            <li><strong>Recepción de mercancía </strong> facilita la gestión del proceso de entrada, incluyendo la verificación de cantidades, la calidad, donde hay que ubicarlo dentro del almacén.</li>
         
        </ul>
    </div>
    <div class="col-6">
        <ul class="listaItems">
            <li><strong>Optimiza la disposición</strong> de los productos para maximizar el espacio y facilitar el acceso.</li>
            <li><strong>Asignación de ubicaciones </strong> basadas en rotaciones (FIFO, LIFO, FEFO…)</li>
            <li><strong>Picking y preparación</strong> de pedidos coordinando el proceso de manera precisa, gestiona el proceso de salida incluyendo la preparación de documentación, control de calidad, planifica de rutas de distribución. </li>
            <li><strong>(B.I.) - Informes y análisis </strong> en tiempo real, proporcionando información detallada de sobre el rendimiento del almacén, la rotación de inventarios y otros indicadores clave (KPI) ayudando a la toma de decisiones.</li>
        </ul>
        <div class="btnDiv">
            <a class="btnBlue" href="/contacto">Solicita una Demo Personalizada </a>
        </div>

    </div>



</div>