@page "/Portales"
@rendermode InteractiveServer

<PageTitle>Portales</PageTitle>

<div class="cabecera" style="background: url('/Images/scport.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/sport.png" alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem;"><h1>Portales ADVISOR</h1></div>
    </div>

</div>
<div id="titleInterior" class="contentInterior">

    <h2>
        Plataforma de <strong>servicios de contenido, adaptables</strong> a diferentes necesidades y enfocados a centralizar y facilitar información.
        Diseñados con el fin de adaptarse a los usuarios en <strong>diferentes contenidos, facilitando el acceso</strong> y optimizando el proceso
    </h2>

</div>
<div class="row contentInterior mb-5">

    <div class="col-6" style="padding-right: 2rem;">
        <p>
            Algunas ventajas:
        </p>
        <ul class="listaItems">
            <li>Los usuarios pueden <strong>acceder</strong> a la <strong>información, documentos, servicios</strong> desde un solo lugar, mejorando la <strong>eficacia</strong> y reduciendo el tiempo de buscar datos en diferentes sistemas.</li>
            <li><strong>Facilita</strong>la <strong>comunicación</strong> interna y externa para <strong>empleados y clientes</strong>.</li>
            <li>Permite <strong>ajustar el contenido</strong> al rol de cada usuario.</li>
            <li>24/7. Los portales <strong>están disponibles en todo momento</strong>, útil para los empleados que trabajan en remoto o clientes, con distintas zonas horarias.</li>
            <li>Pueden <strong>integrarse con otros sistemas</strong> para automatizar tareas.</li>
            <li>Ayudan a <strong>reducir costos.</strong> </li>
            <li><strong>Escalables</strong> para adaptarse a las nuevas necesidades de la empresa.</li>
            <li><strong>Gestiona los permisos</strong> a los usuarios y seguimiento de su actividad.</li>
        </ul>
    </div>
    <div class="col-6">
        <p>
            Portales para:
        </p>
        <ul class="listaItems">
            <li><strong>Empleados, partners, clientes…</strong></li>
            <li>Para la venta de productos en línea.</li>
            <li>Portal de clientes con la <strong>gestión de sus cuentas, resolución de incidencias,</strong> temas varios, <strong>descarga de facturas, solicitud de pedidos</strong>, de catálogos …</li>
            <li>Portal de proveedores para la <strong>gestión de contratos, pedidos</strong>, comunicaciones de forma centralizada….</li>
            <li>Cada tipología de portal tiene las <strong>funcionalidades específicas</strong> para cumplir con el objetivo previsto, ayudando a <strong>mejorar la relación y experiencia del usuario</strong> optimizando los procesos. </li>
        </ul>
        <div class="btnDiv">
            <a class="btnBlue" href="/contacto">Solicita una Demo Personalizada </a>
        </div>

    </div>



</div>