@page "/Proyectos"
@rendermode InteractiveServer

<PageTitle>Proyectos a medida</PageTitle>

<div class="cabecera" style="background: url('/Images/scprome.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/sprom.png" alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem;"><h1>Proyectos a Medida</h1></div>
    </div>

</div>
<div id="titleInterior" class="contentInterior">

    <h2><strong>Proyectos y soluciones</strong> particulares propias (llaves en mano)</h2>

</div>
<div class="row contentInterior mb-5">

    <div class="col-6" style="padding-right: 2rem;">
        <p>
            Desarrollo de <strong>proyectos a medida personalizados</strong> y su fiel cumplimento, de acorde al análisis exhaustivo para cumplir con las <strong>necesidades del cliente,</strong>
            pasando por las fases de desarrollo y pruebas para asegurar que el producto final cumpla con el <strong>objetivo solicitado</strong>.
        </p>
    </div>
    <div class="col-6">
        <p>Experiencias varias en solicitudes para adaptar a CRM, ERP, SGA, B.I., PORTALES, etc.….</p>
        <div class="btnDiv">
            <a class="btnBlue" href="/contacto">Solicita una Demo Personalizada </a>
        </div>

    </div>



</div>