@page "/ChemSD"
@rendermode InteractiveServer

<PageTitle>Soluciones Chem SD</PageTitle>
<div class="cabecera" style="background: url('/Images/scchemsd.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/ssolche.png" alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem;"><h1>Solución ChemSD</h1></div>
    </div>

</div>
<div id="titleInterior" class="contentInterior">

    <h2>Para el <strong>control</strong> del <strong>cumplimiento</strong> de las <strong>regulaciones, legislaciones y normativas</strong></h2>

</div>
<div class="row contentInterior mb-5">

    <div class="col-6" style="padding-right: 2rem;">
        <p>
            La industria de productos químicos y su distribución es un sector con un <strong>alto nivel de regulaciones y legislaciones</strong> por el
            impacto que sus procesos y productos pueden tener tanto en la salud humana como en el medio ambiente.
        </p>
    </div>
    <div class="col-6">
        <p>
            Las regulaciones abarcan desde la fabricación y el transporte de los productos químicos hasta su almacenamiento, uso y disposición final,
            incluyendo la <strong>seguridad</strong> de los <strong>trabajadores</strong>, la <strong>protección</strong> ambiental, la seguridad de los productos y la respuesta ante emergencias.
            <br /><br />
            <strong>ChemSD</strong>, está integrado con <strong>ERP CHEMICAL</strong>, puede operar sólo o integrarse a otros ERP’S.
            <br /><br />
            Ofrecemos soporte y consultoría especializada.
        </p>
        <div class="btnDiv">
            <a class="btnBlue" href="/contacto">Solicita una Demo Personalizada </a>
        </div>

    </div>



</div>