<nav class="navbar navbar-expand-lg ">
    <div class="blueNav"></div>
    <div class="whiteNav">

        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center;">
            <div class="navContent">
                <a href="#">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <img src="/Images/aldeso.jpg" alt="Aldeso logo" style="width: 153px; height: 43px;" />
                    </NavLink>

                </a>

                <ul class="navbar-nav" style="margin: 15px;">
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            Inicio
                            <img src="/Images/chevron-down.svg" alt="" />
                        </NavLink>

                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="advisor">
                            Advisor    <img src="/Images/chevron-down.svg" alt="" />
                        </NavLink>

                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Error">
                            Soluciones Advisor    <img src="/Images/chevron-down.svg" alt="" />
                        </NavLink>

                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="sectores">
                            Sectores    <img src="/Images/chevron-down.svg" alt="" />
                        </NavLink>

                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="solucionesWeb">
                            Soluciones Web    <img src="/Images/chevron-down.svg" alt="" />
                        </NavLink>

                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="soporte">
                            Soporte    <img src="/Images/chevron-down.svg" alt="" />
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="contacto">
                            Contacto    <img src="/Images/chevron-down.svg" alt="" />
                        </NavLink>
                    </li>

                </ul>

                <NavLink class="nav-link" href="preguntas">
                    <img src="/Images/preg.jpg" alt="Preguntas frecuentes" style="margin-right: 1.5rem;" />
                </NavLink>
                <div class="navContact">
                    <NavLink class="nav-link" href="contacto">
                        <img src="/Images/contac.jpg" alt="Contacto" style="width:41px; height:35px; margin-right:0.5rem; object-fit:contain;" />
                    </NavLink>

                    <p style="color:#3789b3">934.156.944</p>
                </div>




            </div>

        </div>

    </div>

</nav>
