@* @page "/advisor"
@rendermode InteractiveServer

<PageTitle> Advisor</PageTitle>

<div class="cabecera" style="background-color:#d7e4ef;">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
    
        <div class="col-7">
            ALDESO, tiene como objetivo ofrecer aplicaciones, soluciones de software y servicios a las PYMES. Basando principalmente su portafolio en ADVISOR. Producto configurable y adaptable a los requerimientos, necesidades y particularidades de cada negocio, sector o empresa.
        </div>
        <div class="col-5">
            <img src="/Images/animag.jpg" alt="Alternate Text" />
        </div>
    </div>

</div>


<div class="row contentInterior mb-5">

    <div class="col-6" style="padding-right: 2rem;">
       <img src="/Images/aerpimag.jpg" alt="Alternate Text" />
    </div>
    <div class="col-6">
        <h3>¿Por qué elegir ADVISOR?</h3>
        <p>
            Las soluciones verticales del ERP ADVISOR han sido desarrolladas por expertos en TIC conocedores de las características del negocio, unida con la experiencia obtenida en los múltiples proyectos realizados.
            A diferencia de la mayoría de los ERP’S  que tienen un enfoque más horizontal y generalista para intentar cubrir el mayor segmento del mercado empresarial, que requieren de adaptaciones  y largos tiempos de implementación, redundando en mayor coste.
            Con el ERP ADVISOR se obtiene una completa y correcta implantación de forma rápida y eficaz, consiguiendo unos incrementos inmediatos de productividad al disponer on-line  de la información para la toma de decisiones reduciendo costes innecesarios de adaptaciones y modificaciones.

        </p>
        <div class="btnDiv">
            <a class="btnBlue" href="/contacto">Solicita una Demo Personalizada</a>
        </div>

    </div>



</div> *@

@* SOLUTIONS *@
@* <div class="banner-text" style="margin: 0 auto;">

    <div class="solutionOptions mb-5">
        <div class="row" style=" display: flex;justify-content: center; flex-wrap: wrap; gap: 2rem;">
            <div class=" col-3 reasonCard ">
                <img src="/Images/aconfi.png" alt="Aldeso logo" class="logo-img" />
                <h3>Confianza y Seguridad</h3>
                <p>
                    Genera confianza a los usuarios, protege los datos y los procesos de negocio.
                </p>

            </div>
            <div class=" col-3 reasonCard">
                <img src="/Images/adapt.png" alt="Aldeso logo" class="logo-img" />
                <h3>Adaptabilidad Escalabilidad</h3>
                <p>
                    Responde a las necesidades actuales del negocio y preparada para crecer y ajustarse a largo plazo.
                </p>
            </div>
            <div class=" col-3 reasonCard">
                <img src="/Images/aintegra.png" alt="Aldeso logo" class="logo-img" />
                <h3>Integración de datos </h3>
                <p>
                    Los datos tratados por la aplicación son precisos y estables, evitando errores y duplicidades.
                </p>
            </div>
            <div class=" col-3 reasonCard" style="max-width: 32%; ">
                <img src="/Images/areduc.png" alt="Aldeso logo" class="logo-img" />
                <h3 style="margin-bottom: 0 !important;">Reducción de costes</h3>
                <p>
                    Con el objetivo estratégico de disminuir costos operativos, de administración y de producción.
                </p>
            </div> *@
            @* Segunda mitad *@
@*             <div class=" col-3 reasonCard" style="max-width: 32%;">
                <img src="/Images/atiemp.png" alt="Aldeso logo" class="logo-img" />
                <h3>Audit Trail</h3>
                <p>
                    Registro detallado y cronológico de todas las actividades realizadas en el sistema.
                </p>
            </div>
            <div class=" col-3 reasonCard" style="max-width: 32%;">
                <img src="/Images/aefici.png" alt="Aldeso logo" class="logo-img" />
                <h3>Compatibilidad Tecnológica</h3>
                <p>
                    Se integra fácilmente con plataformas, otros software y aplicaciones móviles.
                </p>
            </div>
            <div class=" col-3 reasonCard" style="max-width: 32%;">
                <img src="/Images/audit.png" alt="Aldeso logo" class="logo-img" />
                <h3>Mantenimiento web </h3>
                <p>
                    Se integra fácilmente con plataformas, otros software y aplicaciones móviles. 
                </p>
            </div>
            <div class=" col-3 reasonCard" style="max-width: 32%;">
                <img src="/Images/acomp.png" alt="Aldeso logo" class="logo-img" />
                <h3>Mantenimiento web </h3>
                <p>
                    ¿Listo para un sitio web siempre impecable?
                </p>
            </div>
        </div>



    </div>

</div>

<style>
    .reasonCard{
        background-color:#eef5f9;

    }
</style>

 *@