@page "/contacto"
@rendermode InteractiveServer


<PageTitle>Contacto</PageTitle>

<div class="cabecera" style="background: url('/Images/contactanos.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/icontac.png" alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem;"><h1>Contáctenos</h1></div>
    </div>

</div>
@* CONTACTO *@
<div id="contact"> 
    <div class="banner-text mt-3" style="margin: 0 auto; ">
        <div id ="crow">
            <div class=" col-5 mt-5 mb-5">
                
                <div class="row mb-3">
                    <div class="col-1"><img src="/Images/hubic.png" alt="Alternate Text" style="height:21px; width:16px; margin-right:0.5rem;" /></div>
                    <div class="col-11" style="opacity:60%;"> C/. Nil Fabra, 34-36 Entlo.2B <br />Barcelona 08012</div>
                </div>
              
                <div class="row " style="margin-bottom:2rem;">
                    <div class="col-1"><img src="/Images/hcorreo.png" alt="Alternate Text" style="height:13px; width:20px; margin-right:0.5rem;" /></div>
                    <div class="col-11" style="opacity:60%;">mescalona@adelso.es</div>
                </div>
              
                <div id="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d748.1295513052055!2d2.151641869610122!3d41.40626840408672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2a47fbcf547%3A0xf6088e2e6251b48!2sCarrer%20de%20Nil%20Fabra%2C%2036%2C%20Gr%C3%A0cia%2C%2008012%20Barcelona!5e0!3m2!1ses!2ses!4v1730903349058!5m2!1ses!2ses"  style="border:0; width:90%; height:450px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class=" col-6 mt-5">
                <h4 style="font-size:30px; color:#303f9f;">Para Información comercial Llámanos al:</h4>
                <h3 style="font-size:30px; color:#494949;">(+34) 934 156 944</h3>
                <p style="font-size:16px; color:#494949;">Escríbenos y te responderemos lo antes posible. Nuestro departamento del servicio al cliente resolverá todas tus dudas.</p>

                <div id="formulario">
                    <div class="form-group row mb-3">
                        <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Correo</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" required>


                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Teléfono</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" required>

                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Nombre</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" required>


                        </div>
                        <div class="col-md-6">

                            <label for="exampleInputPassword1" class="form-label">Apellido</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" required>

                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-md-12">
                            <label for="exampleInputPassword1" class="form-label">Nombre de la empresa </label>
                            <input type="password" class="form-control" id="exampleInputPassword1" required>

                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-md-12">
                            <label for="producto">Elige un producto relacionado con tu consulta</label>
                            <select class="form-select" aria-label="Default select example" >
                                <option selected disabled>Selecciona</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-md-12">
                            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                    </div>


                   
                    <!-- Casillas de verificación -->
                    <div class="form-group row mt-2">
                        <div class="col-12">
                            <div class="form-check ">
                                <label>
                                    <input type="checkbox" name="acepto_leer" required> He leído y acepto la política de protección de datos.
                                </label>
                               
                            </div>

                            <div class="form-check">
                                 <label>
                                    <input type="checkbox" name="acepto_envio" > Acepto el envío de comunicaciones comerciales.
                                </label>
                            </div>

                        </div>
                      
                    </div>
                    <!-- Botón de registro -->
                    <div class="col-12 mt-3 mb-5 button-container">
                        <button class="btnWhite">Enviar</button>
                        <button class="btnWhite">Cancelar</button>
                    </div>

                </div>
            </div>
        </div>
       
    </div>
</div>

<style>
    .banner-text {
        width: 1166px;
    }

    .form-control, .form-select {
        background-color: #008ce10d !important;
    }
   
</style>