@page "/preguntas"
@rendermode InteractiveServer

<PageTitle>Preguntas</PageTitle>

<div class="cabecera" style="background: url('/Images/preguntas.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/ipreguntas.png" alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem;"><h1>Preguntas Frecuentes</h1></div>
    </div>

</div>
@* <div id="titleInterior" class="contentInterior">

    <h2>Específico para el sector de la distribución de <strong>material eléctrico y electrotécnico. Gestiona y optimiza</strong> los  <strong>procesos operativos y comerciales</strong> del sector.</h2>

</div> *@
<div class="row contentInterior mb-5 mt-5">
    <div class="row">
        <div class="col-6 " style="padding-left: 2rem;">
            <div class="row">
               
                    <h3>
                    ¿Qué es un ERP?
                    </h3>
                    <p>
                    Un ERP (Enterprise Resource Planning, o Planificación de Recursos Empresariales) es un sistema de software que <strong>gestiona e integra</strong> todos los <strong>procesos clave de la empresa</strong>,
                    contabilidad, compras, ventas, almacenes, producción entre otros. El objetivo es tener los <strong>datos actualizados en tiempo real</strong>, para mejorar y facilitar la toma de decisiones,
                    reducir errores y obtener una mejor colaboración entre departamentos.
                </p>
              
            </div>

        </div>
        <div class="col-6 " style="padding-left: 2rem;">
            <div class="row">
               
                    <h3>
                    ¿ERP vertical o sectorial?
                    </h3>
                    <p>
                    Son los que se han desarrollado concretamente para una <strong>actividad empresarial</strong>, que incluye <strong>funcionalidades específicas</strong> y <strong>necesarias</strong> para este sector.
                    <strong>Reduciendo</strong> los <strong>tiempos</strong> de implantación con el consiguiente <strong>ahorro de costes</strong>.
                </p>
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 " style="padding-left: 2rem;">
            <div class="row">
               
                    <h3>
                    ¿Clases de ERP?
                    </h3>
                    <p>
                    Conocidos principalmente como: <strong>Horizontales y Verticales</strong>. <br />
                    Los <strong>verticales</strong> son diseñados para un <strong>sector industrial concreto</strong>, con funcionalidades y módulos adaptados al nicho de mercado específico. <br />
                    Los <strong>horizontales</strong> son diseñados para cubrir las <strong>funcionalidades más generales</strong> aplicables a diferentes industrias. Hay que adaptarlos a las características de cada negocio puntualmente.

                </p>
               
            </div>

        </div>
        <div class="col-6 " style="padding-left: 2rem;">
            <div class="row">
               
                    <h3>
                    ¿Ventajas del ERP?
                    </h3>
                    <p>
                    Permite tener toda la <strong>información siempre actualizada</strong> on-line para la toma de decisiones, los datos se ingresan una sola vez y están al servicio de todos.
                    </p>
               
            </div>
        </div>
    </div>



</div>