@page "/sectores"
@rendermode InteractiveServer

<PageTitle> Sectores</PageTitle>
<div class="cabecera" style="background: url('/Images/sectores.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/isector.png" alt="Alternate Text" /></div>
        <div class="col-5 " style="margin-left: 1.5rem;"><h1>Soluciones para Sectores</h1></div>
    </div>

</div>
<div id="titleInterior" class="contentInterior">

    <h2>Con la plataforma ADVISOR, se han desarrollado unas soluciones  de ERP’S  verticales, para cubrir las especificaciones y particularidades de diversos  sectores de la actividad empresarial.</h2>

</div>

<div class="row contentInterior mb-5" style="justify-content:center;">
    <div class="solutionContainter-left">
        <div class="solutionCard">
          @* CHEMICAL *@
            <div class="col-4" style="margin: 0 2rem;">
                <ul class="listaItems">
                    <li>* Pinturas, Lacas – Barnices</li>
                    <li>* Farmacéutico</li>
                    <li>* Aromas</li>
                    <li>* Cosmética y Perfumería</li>
                    <li>* Productos de Limpieza</li>
                    <li>* Fertilizantes</li>
                </ul>
            </div>
            <div class="col-5">
                <ul class="listaItems">
                    <li>* Petroquímica</li>
                    <li>* Productora de Polímeros</li>
                    <li>* Adhesivos y Selladores</li>
                    <li>* Agroquímicos</li>
                    <li>* Aditivos y Químicos Especiales</li>
                    <li>* Químicos Básicos entre otras.</li>
                </ul>
            </div>
            <div class="col-3 img-container" style="margin-left: -1rem; position: relative;">
              <img src="/Images/se01.png" alt="Alternate Text" />
                <a href="/ERPchemical"><img class="button-img" src="/Images/hflesolu.png" alt="Button" style="left: 45%;" /></a>
            </div>
        </div>
    </div>
    <div class="solutionContainter-right">
        <div class="solutionCard">
            @* ELECTRICAL *@
            <div class="col-3 img-container " style="margin-left: -3rem; position: relative;">
                <img src="/Images/se04.png" alt="Alternate Text" />
                <a href="/ERPelectrical"><img class="button-img" src="/Images/hflesolu.png" alt="Button" style="left: 35%;" /></a>
            </div>
            <div class="col-4" >
                <ul class="listaItems">
                    <li>* Equipos Eléctricos</li>
                    <li>* Energía Renovable</li>
                    <li>* Baterías y Almacenamiento de Energía</li>
                </ul>
            </div>
            <div class="col-5">
                <ul class="listaItems">
                    <li>* Servicios Energéticos</li>
                    <li>* Paneles Solares y Equipos Fotovoltaicos</li>
                    <li>* Energía y Proyectos Eléctricos</li>
                    <li>* entre otras.</li>
                </ul>
            </div>
      
        </div>
    </div>
    <div class="solutionContainter-left">
        <div class="solutionCard">
            @* LOGISTICA *@
            <div class="col-5" style="margin-left:2rem;">
                <ul class="listaItems">
                    <li>* Operadores Logísticos (3PL/4PL)</li>
                    <li>* Empresas de Transporte Terrestre</li>
                    <li>* Navieras y Transporte Marítimo</li>
                    <li>* Alimentos y Productos Perecederos</li> 
                    <li>* Transporte Multimodal</li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="listaItems">
                  
                    <li>* Mensajería y Paquetería</li>
                    <li>* Almacenamiento y Centros de Distribución</li>
                    <li>* Freight Forwarding (Agentes de Carga)</li>
                    <li>* entre otras.</li>
                </ul>
            </div>
            <div class="col-3 img-container" style="margin-left: 2rem; position: relative;">
                <img src="/Images/se02.png" alt="Alternate Text" />
                <a href="/ERPsga"><img class="button-img" src="/Images/hflesolu.png" alt="Button" style="left: 45%;" /></a>
            </div>
        </div>
    </div>
    <div class="solutionContainter-right">
        <div class="solutionCard">
            @* INDUSTRIAL *@
            <div class="col-3 img-container " style="margin-left: -3rem; position: relative;">
                <img src="/Images/se05.png" alt="Alternate Text" />
                <a href="/ERPindustrial"><img class="button-img" src="/Images/hflesolu.png" alt="Button" style="left: 35%;" /></a>
            </div>
            <div class="col-4" >
                <ul class="listaItems">
                    <li>* Productos Metálicos</li>
                    <li>* Automóviles</li>
                    <li>* Maquinaria y Equipos Industriales</li>
                    <li>* Construcción</li>
                    <li>* Plásticos y Derivados</li>
                </ul>
            </div>
            <div class="col-5" >
                <ul class="listaItems" style="margin-left: -3rem;">
                    <li>* Papel y Cartón</li>
                    <li>* Alimentos y Bebidas</li>
                    <li>* Textiles y Confección</li>
                    <li>* Productos Químicos y Farmacéuticos</li>
                    <li>* Electrónicos y Electrodomésticos</li>
                    <li>* entre otras.</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="solutionContainter-left">
        @* ALIMENTACIÓN *@
        <div class="solutionCard">
            <div class="col-4" style="margin-left: 2rem;">
                <ul class="listaItems">
                    <li>* Procesadora de Alimentos</li>
                    <li>* Industria Láctea</li>
                    <li>* Fábrica de Bebidas</li>
                    <li>* Empresas de Panificación y Pastelería</li>
                    <li>* Empresas de Congelados</li>
                </ul>
            </div>
            <div class="col-5">
                <ul class="listaItems"margin-left: -2rem;>
                    <li>* Golosinas y Chocolates</li>
                    <li>* Productos Deshidratados y Conservas</li>
                    <li>* Distribución de Alimentos</li>
                    <li>* Comida Rápida y Catering</li>
                    <li>* entre otras.</li>
                </ul>
            </div>
            <div class="col-3 img-container" style="margin-left: 2rem;  position: relative;">
                <img src="/Images/se03.png" alt="Alternate Text" />
                <a href="/chemicalSD"><img class="button-img" src="/Images/hflesolu.png" alt="Button" style="left: 45%;" /></a>
            </div>
        </div>
    </div>
    <div class="solutionContainter-right">
        <div class="solutionCard">
            @* RETAIL *@
            <div class="col-3 img-container " style="margin-left: -3rem; position: relative;">
                <img src="/Images/se06.png" alt="Alternate Text" />
                <a href="/chemicalSD"><img class="button-img" src="/Images/hflesolu.png" alt="Button" style="left: 35%;" /></a>
            </div>
            <div class="col-4" >
                <ul class="listaItems" style="margin-left: -3rem;">
                    <li>* Tiendas de Conveniencia</li>
                    <li>* Grandes Almacenes</li>
                    <li>* Tiendas de Electrónica</li>
                    <li>* Tiendas de Moda y Ropa</li>
                    <li>* Muebles y Decoración</li>
                    <li>* Belleza y Cosméticos</li>
                    <li>* Farmacias y Parafarmacias</li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="listaItems" style="margin-left: -5.5rem;">
                    <li>* Tiendas de Deportes</li>
                    <li>* Tiendas de Juguetes</li>
                    <li>* Productos para el Hogar y Ferreterías</li>
                    <li>* Tiendas de Mascotas</li>
                    <li>* Tiendas de Outlet</li>
                    <li>* entre otras.</li>
                </ul>
            </div>

        </div>
    </div>

</div>

<style>
    .contentInterior{
        text-align: left;
    }
    .button-img {
        transition: opacity 0.3s ease;
        top: 62%;
    
        position: absolute;
        
        cursor: pointer;
    }

        .button-img:hover {
            content: url('/Images/hifle-on.png'); /* Imagen al hacer hover */
        }
    .listaItems{
        list-style-type: none;
    }

    .solutionContainter-left, .solutionContainter-right{
        margin-bottom: 4rem;
     
    }
    .solutionContainter-left{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left: -2rem;
    }

    .solutionContainter-right {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-right: -5.2rem;
    }
    .solutionCard {
        background-color: #b1d1e1;
        border-radius: 4rem;
        width: 55rem;
        height: 240px;
        display: flex;
        align-items: center; /* Centra verticalmente */
        justify-content: space-between; /* Espacia los contenidos */
        margin: 0 auto; /* Centra horizontalmente */
    }

    .img-container {
        display: flex;
        justify-content: center; /* Centra horizontalmente la imagen */
        align-items: center; /* Centra verticalmente la imagen */
        height: 100%; /* Asegura que la imagen esté en el centro del contenedor */
    }

        .img-container img {
            height: auto;
            width: auto; /* Mantiene el tamaño original */
        }
</style>