@page "/solucionesWeb"


<PageTitle>Soluciones Web</PageTitle>

<div class="cabecera" style="background: url('/Images/soluweb.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/isoluweb.png" alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem; "><h1 style="color:#eeab42 !important;">Soluciones Web</h1></div>
     </div>
   
</div>
<div class="subCabecera mb-5">
    <div id="titleInterior" class="contentInterior">

        <h2>Transforma tu negocio con soluciones <strong>enfocadas en resultados</strong>, cada página <strong>optimizada</strong> para atraer, convertir y <strong>fidelizar a tus clientes. ¡Lleva tu marca al siguiente nivel!</strong></h2>

    </div>
</div>

<div  class="row contentInterior mb-5">

    <div class="col-6" style="padding-right: 2rem;">
            <p>
            Cada negocio tiene necesidades únicas, y nuestras <strong>soluciones de desarrollo web</strong> están pensadas para adaptarse a esas particularidades.
            Ya sea que busques una <strong>tienda online</strong>, una <strong>web corporativa</strong>, un <strong>catálogo de productos</strong> o una <strong>landing page</strong>, cada opción está diseñada
            estratégicamente para cumplir objetivos específicos: <strong>atraer clientes</strong>, facilitar <strong>ventas, posicionar</strong> tu marca o <strong>captar leads</strong>.
        </p>
        </div>
        <div class="col-6">
          <p>
            Realizamos la estructura, la diseñamos con todos los recursos adecuados a tu empresa y te asesoramos con los contenidos.  
            Además, te brindamos servicios de mantenimiento para asegurar que tu sitio esté siempre en óptimas condiciones. 
            Con un enfoque a medida, nuestro objetivo es que elijas exactamente lo que tu negocio necesita para crecer en el mundo digital. 
            <strong>¿Listo para descubrir la solución perfecta para tu empresa?</strong>
          </p>
            <div class="btnDiv">
            <a class="btnBlue" href="/contacto">Pide tu Asesoría GRATIS </a>
            </div>
          
        </div>
   
   

</div>
@* SOLUTIONS *@
<div class="banner-text" style="margin: 0 auto;">
   
    <div class="solutionOptions mb-5">
        <div class="row" style=" display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;">
            <div class=" col-4 contentCard ">
                <img src="/Images/swcorpo.png" alt="Aldeso logo" class="logo-img" />
                <h3>Web Corporativa</h3>
                <p>
                    Es el espacio donde una empresa no solo <strong>comunica</strong>, sino que <strong>conecta y vende</strong>. Hoy, no se trata solo de estar online; se trata de <strong>impactar</strong> desde el primer clic.
                    Desarrollamos tu web, para que sea el rostro <strong>profesional de tu marca</strong>, optimizada para atraer, involucrar y convertir visitantes en <strong>clientes fieles</strong>. Desde un diseño visual poderoso hasta mensajes que venden y 
                    <strong>funcionalidades personalizadas,</strong> tu web corporativa será una plataforma que trabaja 24/7, elevando tu marca y potenciando tus resultados. 
                    <strong>¿Listo para transformar tu presencia digital en un imán de oportunidades?</strong>
                </p>

            </div>
            <div class=" col-4 contentCard">
                <img src="/Images/swtienda.png" alt="Aldeso logo" class="logo-img" />
                <h3>Tienda online</h3>
                <p>Tu negocio en <strong>acción las 24/7</strong>, sin limitaciones de horario ni fronteras. Imagina ofrecer a tus clientes una <strong>experiencia</strong> de compra <strong>cómoda y personalizada</strong>, donde exploren tus productos, <strong>compren</strong> en 
                    un solo clic y reciban atención a la cliente automatizada.  Crear una tienda online, lleva a tu negocio al siguiente nivel: optimizado para SEO, con un <strong>diseño atractivo y seguro</strong>,
                    pensado para convertir visitantes en <strong>compradores. Maximiza tus ventas</strong> con una tienda online, no solo tienes un sitio web; tienes una máquina de ventas digital impulsando tu éxito a toda hora.
                    <strong>¿Listo para vender como nunca?</strong>
                </p>
            </div>
            <div class=" col-4 contentCard">
                <img src="/Images/swland.png" alt="Aldeso logo" class="logo-img" />
                <h3>Landing page </h3>
                <p>
                    Es tu mejor herramienta para <strong>captar leads y convertir visitas</strong> en acciones concretas, ya sea una compra, una suscripción o una consulta. Al crear una landing page efectiva,
                    te ayudaremos a <strong>enfocar el mensaje</strong> en una sola <strong>oferta irresistible</strong>, eliminando distracciones y dirigiendo al usuario hacia un único objetivo. Llamados a la acción clara y contenido directo,
                    esta página funcionará como un vendedor digital que <strong>trabaja las 24/7, maximizando conversiones y rentabilidad.</strong> Perfecta para campañas de <strong>marketing, eventos especiales o lanzamientos</strong>,
                    una landing page es esencial para cualquier <strong>estrategia digital</strong> de alto impacto. <strong>¿Listo para ver tus conversiones despegar?</strong>
                </p>
            </div>
            <div class=" col-4 contentCard" style="max-width: 32%; ">
                <img src="/Images/swcatal.png" alt="Aldeso logo" class="logo-img" />
                <h3 style="margin-bottom: 0 !important;">Catálogo de productos online</h3>
                <p>
                    Es la <strong>vitrina digital</strong> que muestra lo mejor de tu <strong>oferta y negocio</strong>, diseñado para <strong>atraer y captar</strong> la atención de tus clientes potenciales.
                    Desarrollaremos un <strong>catálogo atractivo</strong> con una estructura optimizada, para que tus <strong>productos se destaquen</strong> y guíen al usuario en cada clic.
                    Con un sistema de búsqueda eficiente, <strong>categorías organizadas</strong> y descripciones <strong>persuasivas</strong>, tu catálogo no solo exhibirá tus productos, sino que generará <strong>interés y confianza</strong>.
                    Es la herramienta ideal para quienes buscan vender sin necesidad de una tienda online completa, ofreciendo una <strong>experiencia visual impactante</strong> que acerca a los clientes a la compra.
                    <strong>¿Listo para presentar tus productos de una forma irresistible?</strong>
                </p>
            </div>
            <div class=" col-4 contentCard" style="max-width: 32%;">
                <img src="/Images/swmante.png" alt="Aldeso logo" class="logo-img" />
                <h3>Mantenimiento web </h3>
                <p>
                    Es el <strong>seguro de vida</strong> de cualquier sitio web profesional. No se trata solo de crear la página; se trata de garantizar que esté <strong>siempre actualizada,</strong>
                    <strong>rápida, segura</strong> y funcionando a la perfección. Con nuestro servicio de mantenimiento, nos encargamos de todo: desde <strong>actualizaciones</strong> de productos,
                    software y <strong>optimización de velocidad</strong> hasta copias de seguridad y ajustes de seguridad, para que tu sitio esté siempre al máximo. Una web sin mantenimiento
                    es una oportunidad perdida; mantén a tus visitantes felices y tu <strong>negocio funcionando al 100%</strong> sin preocuparte por problemas técnicos. <strong>¿Listo para un sitio web siempre impecable?</strong>
                </p>
            </div>
        </div>
      
     
       
    </div>
   
</div>
<style>
    .subCabecera {
        background-color: #d5e6ef;
        color: #494949;
    }
    
    .subCabecera h2{
            color: #494949;
    }
    .col-4 {
        flex: 1 1 31%; /* Ajusta el tamaño dinámico */
       /*  max-width: 30%; */
    }

    .font48 {
        font-size: 48px;
        color: #494949;
    }

    .solutionOptions {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 2rem; 
        margin-top: 2rem;
        width: 100%;
    }

    .contentCard {
        display: flex;
        flex-direction: column;
        align-items: center;
     
        border-radius: 1rem;
       
       /*  padding: 2rem; */
        box-sizing: border-box;
       
    }
  
    .logo-img {
        width:132px;
        height: 99px;
    }

    .contentCard p {
      /*   margin-top: 3rem; */
        text-align: justify;
        color: #494949;
        font-size:16px;
        /* margin-bottom: 2rem; */
    }
    .contentCard h3{
         margin: 2rem 0;
        color: #494949;
        text-align:center;
    }

    .bajo {
        position: absolute;
        bottom: 1rem; /* Alinea la flecha al final de la card */
        left: 50%;
        transform: translateX(-50%); /* Centra la flecha horizontalmente */
    }

    .banner-text {
        width: 1166px;
    }
</style>