@page "/soporte"
@rendermode InteractiveServer

<PageTitle>Soporte</PageTitle>
<div class="cabecera" style="background: url('/Images/soporte.jpg');">

    <div class="row contentInterior " style="justify-content:start !important; align-items:center;">
        <div class="col-1 icono"><img src="/Images/isoporte.png" alt="Alternate Text" /></div>
        <div class="col-4 " style="margin-left: 1.5rem;"><h1>Soporte ALDESO</h1></div>
    </div>

</div>
<div id="titleInterior" class="contentInterior">

    <h2>
        Somos muy conscientes que debemos ofrecer un <strong>servicio de soporte</strong> que funcione de manera <strong>óptima</strong> después de la implantación inicial.
        <br />
        Por lo que ofrecemos:
    </h2>

</div>
<div class="row contentInterior mb-5">
        <div class="row">
            <div class="col-6 " style="padding-left: 2rem;">
                <div class="row">
                    <div class="col-1 mt-1">
                        <img src="/Images/check.png" alt="Alternate Text" />
                    </div>
                <div class="col-11" style="text-align: left;">
                        <h3>
                            Mantenimiento y actualizaciones
                        </h3>
                        <p>
                        Asegura que el ERP este siempre a las <strong>últimas actualizaciones</strong>, mejoras de <strong>seguridad</strong>, nuevas funcionalidades.
                        </p>
                    </div>
                </div>
              
            </div>
            <div class="col-6 ">
                    <div class="row">
                        <div class="col-1 mt-1">
                            <img src="/Images/check.png" alt="Alternate Text" />
                        </div>
                        <div class="col-11">
                        <h3>
                            Consultoría y Optimización
                        </h3>
                        <p>
                            Asesoría para <strong>mejorar procesos</strong> del ERP y/o <strong>ajustar cambios</strong> del negocio
                        </p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 " style="padding-left: 2rem;">
                <div class="row">
                    <div class="col-1 mt-1">
                        <img src="/Images/check.png" alt="Alternate Text" />
                    </div>
                    <div class="col-11" style="text-align: left;">
                        <h3>
                            Capacitación continua
                        </h3>
                        <p>
                            Para que los usuarios <strong>aprovechen</strong> al máximo las <strong>herramientas disponibles</strong>.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-6 ">
                <div class="row">
                    <div class="col-1 mt-1">
                        <img src="/Images/check.png" alt="Alternate Text" />
                    </div>
                    <div class="col-11">
                        <h3>
                            Adaptación a Regulaciones
                        </h3>
                        <p>
                            Para que el ERP cumpla con las <strong>normativas</strong> vigentes
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 " style="padding-left: 2rem;">
                <div class="row">
                    <div class="col-1 mt-1">
                        <img src="/Images/check.png" alt="Alternate Text" />
                    </div>
                    <div class="col-11" style="text-align: left;">
                        <h3>
                            Soporte técnico
                        </h3>
                        <p>
                            <strong>Resolución</strong> de problemas, ajustes, <strong>necesidades cambiantes</strong> de la empresa.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-6 ">
                <div class="row">
                    <div class="col-1 mt-1">
                        <img src="/Images/check.png" alt="Alternate Text" />
                    </div>
                    <div class="col-11">
                        <h3>
                            Integración y Escalabilidad
                        </h3>

                        <ul class="listaItems">
                            <li>Apoyo para <strong>integrar el ERP</strong> con otros sistemas.</li>
                            <li>Conforme al crecimiento del negocio. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
 

</div>